<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Timer Interval (msec) -->
    <add key="Interval" value="180000" />
    <!-- 
    Target Drive(s)
    * i.e. if you have 1 external drive named `D:`
        value="D"
    * i.e. if you have 3 external drives named `X:`, `Y:` and `Z:`
        value="XYZ"
    -->
    <add key="Targets" value="K" />
  </appSettings>
</configuration>